


* {
  background-color: rgb(1, 1, 55);
}


/* Gave each div a minimum view height in App.js */
.App > div  {
  min-height: 80vh;
  background-color: rgb(1, 1, 55);
  width: 100%;
  color: mediumspringgreen;
}

.nav {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  background-color: rgb(1, 1, 55) !important;
  margin-top: -80px !important;
  text-align: center !important;
  
  

}

/* css for topnav */

.navlink {
  text-decoration: none !important;
  color: mediumspringgreen !important;
  font-style: oblique !important;
  font-size: 25px !important;
  
}


/* css styling for each navlink */




.navlink:hover{
  background-color: black !important;
  border: 3px solid aquamarine !important;
  border-radius: 15px;
}





