


.App  {
  background-color: rgb(1, 1, 55);
}
body  {
  background-color: rgb(1, 1, 55);
}

/* css for loading screen */
.loading {
  text-align: center !important;
  margin: 0 auto;
  background-color: rgb(1,1,55);
}


/* Gave each div a minimum view height in App.js */
.App > div  {
  min-height: 80vh;
  background-color: rgb(1, 1, 55);
  width: 100%;
  color: mediumspringgreen;
}

.nav {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  background-color: rgb(1, 1, 55) !important;
  /* margin-top: -80px !important; */
  text-align: center !important;
  
  

}

/* css for topnav */

.navlink {
  text-decoration: none !important;
  color: mediumspringgreen !important;
  font-style: oblique !important;
  font-size: 25px !important;
  
}

.logo{
  margin-left: -20px !important;
  
}



/* css styling for each navlink */




.navlink:hover{
  background-color: black !important;
  border: 3px solid aquamarine !important;
  border-radius: 15px;
}


/* Styling for landing page */
.landing{
  text-align: center;
  display: block;
}
.name {
  font-size: 35px;
  
}

.intro{
  color: white;
  font-size: 50px;
  width: 75%;
  text-align: center;
  margin: 0 auto;
}

.mint{
  color:mediumspringgreen;
}

.pitch {
  font-size: 20px;
  color: white;
  width: 50%;
  margin: 0 auto;
}

.mex {
  color: green;
}

.ico{
  color: red;
}

/* styling for about section */
#section1 {
  text-align: center;
  margin: 0 auto;
 
}

.brandon {
border: solid 2px mediumspringgreen;
}

.brandon:hover{
  border: solid white;
}

.aboutcol2 {
  color: white;
  padding-right: 100px;
  
  
}

@media screen and (max-width: 600px) {
  .aboutcol2 {
   padding-left: 100px !important;
  }
  
}

/* Styling for experience seciton */
#section2 {
  text-align: center;
}

.sei {
  background-color: rgb(1, 1, 84);
  color: white;
}








